In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


from api_keys import g_key

In [2]:
path = "weather.csv"
df = pd.read_csv(path)
df.head()

         City  Cloudiness  Humidity    Lat     Lng  Max Temp  Wind Speed
0     mataura        41.0      84.0 -46.19  168.86     11.11        4.47
1  shellbrook        90.0      78.0  53.22 -106.40    -13.00        4.60
2       pirai        90.0      74.0 -22.63  -43.90     31.00        3.10
3     ushuaia        75.0      61.0 -54.80  -68.30      9.00        9.80
4     kismayo        83.0      75.0  -0.36   42.55     27.16        8.15

In [3]:
from api_keys import g_key
gmaps.configure(api_key=g_key)

In [4]:
df = df.dropna()
coords = df[["Lat", "Lng"]]
weight = df["Humidity"]

In [5]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(coords, weights=weight, dissipating=False, point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#A max temperature lower than 80 degrees but higher than 70.

df_temp = df.loc[df['Max Temp'] < 26.67 ]
df_temp= df_temp.loc[df['Max Temp'] >  21.11]
df_temp.head(30)

,City,Cloudiness,Humidity,Lat,Lng,Max Temp,Wind Speed
7,seminole,1.0,57.0,28.71,-81.21,26.11,5.70
9,okhotsk,75.0,68.0,-33.93,18.42,21.67,5.10
17,burnie,5.0,12.0,18.74,7.39,22.01,3.42
30,hithadhoo,1.0,71.0,14.90,-24.50,23.39,7.06
35,sao filipe,5.0,68.0,-26.65,15.16,22.00,7.20
38,laguna,3.0,50.0,17.02,54.09,24.00,1.00
40,luderitz,75.0,94.0,-20.02,148.23,24.44,3.10
43,salalah,0.0,8.0,20.50,-10.07,25.72,2.97
48,adrar,66.0,54.0,-20.58,17.43,24.39,1.84
58,warri,19.0,78.0,-2.65,10.00,26.60,2.63
59,codrington,3.0,30.0,-13.70,-76.22,23.33,4.10
65,pisco,20.0,88.0,-33.92,25.57,22.00,8.70
68,new norfolk,90.0,82.0,19.73,-155.09,21.67,3.10
78,lebu,27.0,10.0,14.10,-1.63,25.87,3.46
82,clyde river,40.0,94.0,-24.87,113.63,25.00,8.20
85,dikson,75.0,94.0,-33.02,27.91,24.00,9.30
86,ponta do sol,75.0,88.0,17.65,83.27,25.00,2.10
87,malwan,90.0,82.0,33.19,-82.53,22.78,3.10
90,jalu,45.0,84.0,-9.11,124.89,23.98,0.83
93,yarada,9.0,79.0,-24.79,-50.01,24.11,1.89
96,aflu,81.0,82.0,-20.44,-53.76,25.73,2.95
100,khatanga,40.0,83.0,-17.83,-149.27,26.00,1.50
103,fort-shevchenko,0.0,8.0,22.68,-3.98,26.11,2.89
106,naze,31.0,85.0,-5.56,-80.82,22.91,5.73
108,taywarah,44.0,95.0,-9.08,143.21,23.26,1.37
112,taoudenni,100.0,99.0,-6.12,141.29,22.61,1.45
113,darnah,99.0,98.0,-0.88,131.25,23.52,0.82
119,mys shmidta,26.0,69.0,11.67,92.75,26.07,4.65
124,sorong,40.0,100.0,-20.73,139.50,23.00,4.10
126,faanui,92.0,35.0,-2.88,-78.98,23.00,4.10

In [7]:
#Wind speed less than 10 mph.

df_wind = df_temp.loc[df_temp['Wind Speed'] < 10]

In [8]:
#Zero cloudiness
df_cloud = df_wind.loc[df_wind['Cloudiness'] == 0.0]

In [9]:
#Using Google Places API to find the first hotel for each city located within
#5000 meters of your coordinates.

df_final = df_cloud

coords = df_final[['Lat', 'Lng']]
target_type = 'lodging'
target_radius = 5000
target_keyword = 'Hotel'

params = {
    "location": coords,
    "keyword": target_keyword,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

In [12]:
query_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
Hotels = []
for coord in coords:
    response = requests.get(query_url, params=params).json()
    Hotels.append(response)

[{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'},
 {'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}]